# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts
*.apk
*.aab

# Native
.kotlin/
*.orig.*
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision
GoogleService-Info.plist
google-services.json

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env.*
.env*.local

# secrets and build credentials
credentials.json
*.credentials.json

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android
